{% extends 'base.html' %}
{% block title %}All Categories{% endblock title %}
{% block body %}
<div class="container my-4">
    <div class="row row-cols-1 row-cols-md-3 g-4 my-2">
        {% for category in categories %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a href="{{ url_for('category', cat_name=category.name, page_num=1) }}">
                        <h5 class="card-title">{{category.name}}</h5>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="clearfix"></div>
</div>
{% endblock body %}