{% extends 'base.html' %}
{% block title %}
    All Apps
{% endblock title %}
{% block body %}
<div class="container my-4">
    <div class="row row-cols-1 row-cols-md-3 g-4 my-2">
        {% for game in games.items %}
        <div class="col">
            <div class="card">
                <span class="badge badge-primary bg-danger m-3 position-absolute"><a href="{{ url_for('category', cat_name=game.category.name, page_num=1) }}" class="text-decoration-none text-white">{{ game.category.name }}</a></span>
                <a href="{{ url_for('game', game_id=game.id) }}"><img src="{{game.icon}}" class="card-img-top"></a>
                <div class="card-body">
                    <h5 class="card-title">{{game.name}}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="clearfix"></div>
</div>
<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-lg">
            {% if games.has_prev %}
            <li class="page-item"><a class="page-link"
                    href="{{ url_for('index', page_num=games.prev_num) }}">Previous</a>
            </li>
            {% endif %}
            {% for page in games.iter_pages() %}
            {% if page %}
            <li class="page-item {% if  current_page == page  %}active{% endif %}"><a class="page-link"
                    href="{{ url_for('index', page_num=page) }}">{{ page }}</a></li>
            {% else %}
            <li class="page-item"><span class="page-link">...</span></li>
            {% endif %}

            {% endfor %}
            {% if games.has_next %}
            <li class="page-item"><a class="page-link" href="{{ url_for('index', page_num=games.next_num) }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock body %}