{% extends 'base.html' %}
{% block title %}
    Category Page
{% endblock title %}
{% block body %}
<div class="container my-4">
    <h2>{{ catdata.name }}</h2>            
        <div class="row row-cols-1 row-cols-md-3 g-4 my-2">
            {% for game in games.items %}
            <div class="col">
                <div class="card">
                    <span class="badge badge-primary bg-danger m-3 position-absolute"><a href="{{ url_for('category', cat_name=game.category.name, page_num=1) }}" class="text-decoration-none text-white">{{ game.category.name }}</a></span>
                    <a href="{{ url_for('game', game_id=game.id) }}"><img src="{{game.icon}}" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="{{ url_for('game', game_id=game.id) }}"><h5 class="card-title">{{game.name}}</h5></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    <div class="clearfix"></div>
</div>

<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-lg">
            {% if games.has_prev %}
            <li class="page-item"><a class="page-link"
                    href="{{ url_for('category', page_num=games.prev_num, cat_name=cat_name) }}">Previous</a>
            </li>
            {% endif %}
            {% for page in games.iter_pages() %}
            {% if page %}
            <li class="page-item {% if  games.page == page  %}active{% endif %}"><a class="page-link"
                    href="{{ url_for('category', page_num=page, cat_name=cat_name) }}">{{ page }}</a></li>
            {% else %}
            <li class="page-item"><span class="page-link">...</span></li>
            {% endif %}

            {% endfor %}
            {% if games.has_next %}
            <li class="page-item"><a class="page-link" href="{{ url_for('category', page_num=games.next_num, cat_name=cat_name) }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock body %}